 table th {
     background-color: white;
     border: solid black;
     width: 100px;
     height: 100px;
 }

 td {
    background-color: white;
    border: solid black;
    width: 100px;
    height: 100px;
 }

 .black {
     background: black;
 }